doctype html
html(style='font-size: 16px;')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='')
    meta(name='description' content='')
    meta(name='page_type' content='np-template-header-footer-from-plugin')
    title Admin Settings
    link(rel='stylesheet' href='css/nicepage.css' media='screen')
    link(rel='stylesheet' href='css/Admin-Settings.css' media='screen')
    script.u-script(type='text/javascript' src='js/jquery.js' defer='')
    script.u-script(type='text/javascript' src='js/nicepage.js' defer='')
    script.u-script(type='text/javascript' src='js/inputDataGrab.js' defer='')
    script(src='https://kit.fontawesome.com/827e17ac31.js' crossorigin='anonymous')
    meta(name='generator' content='Nicepage 4.8.2, nicepage.com')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Admin Settings')
    meta(property='og:description' content='')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode
    header#sec-cd71.u-clearfix.u-custom-color-1.u-header(data-animation-delay='0' data-animation-direction='' data-animation-duration='0' data-animation-name='')
      .u-clearfix.u-sheet.u-sheet-1
        nav.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse(style='font-size: 1rem; letter-spacing: 0px;')
            a.u-button-style.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-top-bottom-menu-spacing.u-nav-link.u-palette-1-base.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='#')
              svg.u-svg-link(viewBox='0 0 24 24')
                use(xlink:href='#menu-hamburger' xmlns:xlink='http://www.w3.org/1999/xlink')
              svg#menu-hamburger.u-svg-content(version='1.1' viewBox='0 0 16 16' x='0px' xmlns='http://www.w3.org/2000/svg' y='0px')
                g
                  rect(height='2' width='16' y='1')
                  rect(height='2' width='16' y='7')
                  rect(height='2' width='16' y='13')
          .u-custom-menu.u-nav-container
            ul.u-custom-font.u-heading-font.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='User-Settings' style='padding: 10px 20px;') Preferences
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='My-Schedule' style='padding: 10px 20px;') Schedule Viewer
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='Trade-Shift' style='padding: 10px 20px;') Trade Shifts
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base(href='#' style='padding: 10px 20px;') Admin Pages
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='User-Management') User Management
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white.active(href='Role-Management') Role Management
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white.active(href='Admin-Settings') Application Settings
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='Logout' style='padding: 10px 20px;') Logout
          .u-custom-menu.u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='User-Settings') Preferences
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='My-Schedule') Schedule Viewer
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='Trade-Shift') Trade Shifts
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='Logout') Logout
                  li.u-nav-item
                    a.u-button-style.u-nav-link.u-text-active-palette-1-base(href='#' style='padding: 10px 20px;') Admin Pages
                    .u-nav-popup
                      ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10
                        li.u-nav-item
                          a.u-button-style.u-nav-link.u-white(href='User-Management') User Management
                        li.u-nav-item
                          a.u-button-style.u-nav-link.u-white.active(href='Role-Management') Role Management
                        li.u-nav-item
                          a.u-button-style.u-nav-link.u-white.active(href='Admin-Settings') Application Settings
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
          style.offcanvas-style.
            .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }            @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }
        img.u-image.u-image-default.u-preserve-proportions.u-image-1(alt='' data-href='index' data-image-height='29' data-image-width='153' src='images/ATUWork.png')
        p.u-text.u-text-default.u-text-1
          a(href='Notifications')
            i.fa-solid.fa-bell.fa-2xl.u-icon-1
            i.fa-solid.fa-circle.u-icon-1
    section#sec-f365.u-clearfix.u-custom-color-5.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h1.u-custom-font.u-text.u-text-custom-color-3.u-text-default.u-text-1 Application Settings
        p.u-custom-font.u-text.u-text-custom-color-3.u-text-default.u-text-2 Adjust administrative application settings here.
    section#sec-b585.u-align-left.u-clearfix.u-custom-color-5.u-section-2
      .u-clearfix.u-sheet.u-sheet-1
        .u-list.u-list-1
          .u-repeater.u-repeater-1
            .u-container-style.u-list-item.u-repeater-item
              .u-container-layout.u-similar-container.u-valign-middle.u-container-layout-1
                .u-clearfix.u-custom-html.u-custom-html-1
                  input(type='text' title='Host' value= Host)
            .u-container-style.u-list-item.u-repeater-item
              .u-container-layout.u-similar-container.u-valign-middle.u-container-layout-2
                .u-clearfix.u-custom-html.u-custom-html-2
                  input(type='text' title='Port' value= Port)
            .u-container-style.u-list-item.u-repeater-item
              .u-container-layout.u-similar-container.u-valign-middle.u-container-layout-3
                .u-clearfix.u-custom-html.u-custom-html-3
                  input(type='text' title='User' value= User)
            .u-container-style.u-list-item.u-repeater-item
              .u-container-layout.u-similar-container.u-valign-middle.u-container-layout-4
                .u-clearfix.u-custom-html.u-custom-html-4
                  input(type='text' title='Password' value= Password)
        p.u-align-left.u-large-text.u-text.u-text-default.u-text-variant.u-text-1 MySQL URL: 
        p.u-large-text.u-text.u-text-default.u-text-variant.u-text-2 MySQL Port: 
        p.u-large-text.u-text.u-text-default.u-text-variant.u-text-3 MySQL Username: 
        p.u-large-text.u-text.u-text-default.u-text-variant.u-text-4 MySQL Password: 
        a.u-border-none.u-btn.u-btn-round.u-button-style.u-custom-color-3.u-hover-custom-color-3.u-radius-50.u-text-custom-color-4.u-btn-1(href='#') Back
        a.u-border-none.u-btn.u-btn-round.u-button-style.u-custom-color-3.u-hover-custom-color-3.u-radius-50.u-text-custom-color-4.u-btn-2(href='#' onclick='submitInputs()') Apply
    section#sec-cf91.u-align-center.u-clearfix.u-custom-color-5.u-section-2
      .u-align-left.u-clearfix.u-sheet.u-sheet-1
    footer.custom-footer
      .text-center.p-3
