doctype html
html(style='font-size: 16px;')
  head
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    meta(charset='utf-8')
    meta(content='' name='keywords')
    meta(content='' name='description')
    meta(content='np-template-header-footer-from-plugin' name='page_type')
    title Role Management
    link(href='css/nicepage.css' media='screen' rel='stylesheet')
    link(href='css/User-Management.css' media='screen' rel='stylesheet')
    script.u-script(defer='' src='js/jquery.js' type='text/javascript')
    script.u-script(defer='' src='js/nicepage.js' type='text/javascript')
    script(src='https://kit.fontawesome.com/827e17ac31.js' crossorigin='anonymous')
    meta(content='Nicepage 4.6.5, nicepage.com' name='generator')
    link#u-theme-google-font(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i' rel='stylesheet')
    link#u-page-google-font(href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    meta(content='#478ac9' name='theme-color')
    meta(content='User Management' property='og:title')
    meta(content='' property='og:description')
    meta(content='website' property='og:type')
  body.u-body.u-xl-mode
    header#sec-cd71.u-clearfix.u-custom-color-1.u-header(data-animation-delay='0' data-animation-direction='' data-animation-duration='0' data-animation-name='')
      .u-clearfix.u-sheet.u-sheet-1
        nav.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse(style='font-size: 1rem; letter-spacing: 0px;')
            a.u-button-style.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-top-bottom-menu-spacing.u-nav-link.u-palette-1-base.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='#')
              svg.u-svg-link(viewBox='0 0 24 24')
                use(xlink:href='#menu-hamburger' xmlns:xlink='http://www.w3.org/1999/xlink')
              svg#menu-hamburger.u-svg-content(version='1.1' viewBox='0 0 16 16' x='0px' xmlns='http://www.w3.org/2000/svg' y='0px')
                g
                  rect(height='2' width='16' y='1')
                  rect(height='2' width='16' y='7')
                  rect(height='2' width='16' y='13')
          .u-custom-menu.u-nav-container
            ul.u-custom-font.u-heading-font.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='User-Settings' style='padding: 10px 20px;') Preferences
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='My-Schedule' style='padding: 10px 20px;') Schedule Viewer
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='Trade-Shift' style='padding: 10px 20px;') Trade Shifts
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base(href='#' style='padding: 10px 20px;') Admin Pages
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='User-Management') User Management
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white.active(href='Role-Management') Role Management
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white.active(href='Admin-Settings') Application Settings
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='Login' style='padding: 10px 20px;') Login
          .u-custom-menu.u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='User-Settings') Preferences
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='My-Schedule') Schedule Viewer
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='Trade-Shift') Trade Shifts
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='Login') Login
                  li.u-nav-item
                    a.u-button-style.u-nav-link.u-text-active-palette-1-base(href='#' style='padding: 10px 20px;') Admin Pages
                    .u-nav-popup
                      ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10
                        li.u-nav-item
                          a.u-button-style.u-nav-link.u-white(href='User-Management') User Management
                        li.u-nav-item
                          a.u-button-style.u-nav-link.u-white.active(href='Role-Management') Role Management
                        li.u-nav-item
                          a.u-button-style.u-nav-link.u-white.active(href='Admin-Settings') Application Settings
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
          style.offcanvas-style.
            .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }            @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }
        img.u-image.u-image-default.u-preserve-proportions.u-image-1(alt='' data-href='index' data-image-height='29' data-image-width='153' src='images/ATUWork.png')
        p.u-text.u-text-default.u-text-1
          a(href='Notifications')
            i.fa-solid.fa-bell.fa-2xl.u-icon-1
            i.fa-solid.fa-circle.u-icon-1
    section#sec-f365.u-clearfix.u-custom-color-5.u-section-1
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        h1.u-custom-font.u-text.u-text-custom-color-3.u-text-default.u-text-1 Manage Roles
        p.u-custom-font.u-text.u-text-custom-color-3.u-text-default.u-text-2 Create and modify permission roles.
    section#sec-cf91.u-align-center.u-clearfix.u-custom-color-5.u-section-2
      .u-align-left.u-clearfix.u-sheet.u-sheet-1
        .u-align-center.u-table.u-table-responsive.u-table-1
          table.u-table-entity
            colgroup
              col(width='33%')
              col(width='33%')
              col(width='33%')
            thead.u-align-center.u-custom-color-3.u-custom-font.u-table-header.u-table-header-1
              tr(style='height: 12px;')
                th.u-border-1.u-border-grey-dark-1.u-table-cell Role
                th.u-border-1.u-border-grey-dark-1.u-table-cell Users Assigned
                th.u-border-1.u-border-grey-dark-1.u-table-cell Actions
            tbody.u-align-center.u-custom-font.u-table-body.u-text-custom-color-3.u-white.u-table-body-1
              tr(style='height: 12px;')
                td.u-border-1.u-border-grey-dark-1.u-table-cell
                  | Administrator
                  br
                td.u-border-1.u-border-grey-dark-1.u-table-cell 1
                td.u-border-1.u-border-grey-dark-1.u-table-cell
                  button.btn(type='button' data-toggle='modal' data-target='#rolepopup')
                    i.fa-regular.fa-lg.icon-primary-color.fa-pen-to-square
                  a(href='#')
                    i.fa-regular.fa-lg.icon-primary-color.fa-trash-can
              tr(style='height: 12px;')
                td.u-border-1.u-border-grey-dark-1.u-table-cell
                  | Manager
                  br
                td.u-border-1.u-border-grey-dark-1.u-table-cell 3
                td.u-border-1.u-border-grey-dark-1.u-table-cell
                  button.btn(type='button' data-toggle='modal' data-target='#rolepopup')
                    i.fa-regular.fa-lg.icon-primary-color.fa-pen-to-square
                  a(href='#')
                    i.fa-regular.fa-lg.icon-primary-color.fa-trash-can
              tr(style='height: 12px;')
                td.u-border-1.u-border-grey-dark-1.u-table-cell
                  | Student User
                  br
                td.u-border-1.u-border-grey-dark-1.u-table-cell 12
                td.u-border-1.u-border-grey-dark-1.u-table-cell
                  button.btn(type='button' data-toggle='modal' data-target='#rolepopup')
                    i.fa-regular.fa-lg.icon-primary-color.fa-pen-to-square
                  a(href='#')
                    i.fa-regular.fa-lg.icon-primary-color.fa-trash-can
    // Modal
    #rolepopup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='rolepopuplabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.text-center
            iframe(src='Role-Popup' title='editrole' width='400' height='350')
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
    footer.custom-footer
      .text-center.p-3
