 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 110px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 600;
  margin: 18px auto 40px 19px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 350px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}